@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Lobster&display=swap");
* {
    box-sizing: border-box;
}
:root {
    --title-font: "Lobster", "Alkatra", cursive;
    /* shapes */
    --device-top-radius: 97px;
    --device-bottom-radius: 19px;
    --size-canvas-width: 678px;
    --size-canvas-height: 581px;
    --size-device-border: 96px;
    --radius-canvas: 24px;
    /*  9,69 */
    /* colors */
    --color-device: #ce0c15;
    --color-golden: #dd9f32;
    --color-canvas: #babac4;
    /* device emboss effects */
    --device-emboss-light: inset 0.3rem 0.3rem 0.5rem 0.3rem
        rgba(255, 255, 255, 0.3);
    --device-emboss-shadow: inset -0.3rem -0.3rem 0.5rem 0.3rem
        rgba(0, 0, 0, 0.3);
    /* canvas emboss effects */
    --canvas-emboss-light: 0.3rem 0.3rem 0.5rem 0.3rem rgba(255, 255, 255, 0.3);
    --canvas-emboss-shadow: -0.3rem -0.3rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3);
    --canvas-shadow: inset 0rem 0rem 0.5rem black;
}
body {
    margin: 0;
    padding: 0;
}
.container {
    width: 100%;
    height: 100vh;
    background: #eee;
    display: flex;
    justify-content: center;
    align-items: center;
}
.etch-a-sketch {
    flex-shrink: 0;
    width: calc(var(--size-canvas-width) + var(--size-device-border) * 2);
    height: calc(var(--size-canvas-height) + var(--size-device-border) * 3);
    background: var(--color-device);
    border-radius: var(--device-bottom-radius);
    border-top-left-radius: var(--device-top-radius);
    border-top-right-radius: var(--device-top-radius);
    box-shadow: var(--device-emboss-light), var(--device-emboss-shadow);
}
.title {
    height: var(--size-device-border);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-golden);
    text-transform: uppercase;
    font-family: var(--title-font);
    letter-spacing: 3px;
    font-size: 48px;

    text-shadow: 2px 2px 5px black;
}
.canvas {
    margin: 0 auto;
    width: var(--size-canvas-width);
    height: var(--size-canvas-height);
    background: var(--color-canvas);
    border-radius: var(--radius-canvas);
    overflow: hidden;

    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--canvas-emboss-light), var(--canvas-emboss-shadow),
        var(--canvas-shadow);
}
.canvas-cell {
    mix-blend-mode: multiply;
}
