@import url("https://fonts.googleapis.com/css2?family=Alkatra:wght@700&family=Lobster&family=Roboto:wght@400;500&display=swap");
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid black; */
}
:root {
    --title-font: "Lobster", "Alkatra", cursive;
    --font: "Roboto", sans-serif;
    /* shapes */
    --size-canvas-height: 550px;
    --size-canvas-width: calc(var(--size-canvas-height) * 4 / 3);
    --size-device-border: 96px;
    --device-top-radius: 97px;
    --device-bottom-radius: 19px;
    --radius-canvas: 24px;
    /* colors */
    --color-device: #ce0c15;
    --color-device-dark: hsl(357, 89%, 38%);
    --color-golden: #dd9f32;
    --color-golden-dark: hsl(38, 72%, 48%);
    --color-canvas: #babac4;
    /* device emboss effects */
    --device-emboss-light: inset 0.3rem 0.3rem 0.5rem 0.3rem
        rgba(255, 255, 255, 0.3);
    --device-emboss-shadow: inset -0.3rem -0.3rem 0.5rem 0.3rem
        rgba(0, 0, 0, 0.3);
    /* canvas emboss effects */
    --canvas-emboss-light: 0.3rem 0.3rem 0.5rem 0.3rem rgba(255, 255, 255, 0.3);
    --canvas-emboss-shadow: -0.3rem -0.3rem 0.5rem 0.3rem rgba(0, 0, 0, 0.3);
    --canvas-shadow: inset 0rem 0rem 0.5rem black;
    /* button emboss effects */
    --buttons-inside-emboss-light: inset 2px 2px 2px rgba(255, 255, 255, 0.3);
    --buttons-inside-emboss-shadow: inset -2px -2px 2px rgba(0, 0, 0, 0.3);
    --buttons-outside-emboss-light: 2px 2px 2px rgba(255, 255, 255, 0.3);
    --buttons-outside-emboss-shadow: -2px -2px 2px rgba(0, 0, 0, 0.3);
}
body {
    background: #eee;
}
.container {
    width: 100%;
    padding: 1.5rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
/* ########## DEVICE BODY ########## */
.etch-a-sketch {
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    width: calc(var(--size-canvas-width) + var(--size-device-border) * 2);
    height: calc(var(--size-canvas-height) + var(--size-device-border) * 3);
    background: var(--color-device);
    border-radius: var(--device-bottom-radius);
    border-top-left-radius: var(--device-top-radius);
    border-top-right-radius: var(--device-top-radius);
    box-shadow: var(--device-emboss-light), var(--device-emboss-shadow);
}
.shake {
    animation: shake 1s ease-in-out;
}
.title {
    height: var(--size-device-border);

    display: flex;
    justify-content: center;
    align-items: center;

    color: var(--color-golden);
    text-transform: uppercase;
    font-family: var(--title-font);
    letter-spacing: 3px;
    font-size: 48px;

    text-shadow: 2px 2px 5px black;
}
/* ########## DEVICE BODY ANIMATION ########## */
@keyframes shake {
    0% {
        transform: translate(0, 0);
    }
    20% {
        transform: translate(20px, 0px);
    }
    30% {
        transform: translate(-50px, 0px);
    }
    40% {
        transform: translate(75px, 0px);
    }
    50% {
        transform: translate(-100px, 0px);
    }
    60% {
        transform: translate(75px, 0px);
    }
    70% {
        transform: translate(-50px, 0px);
    }
    80% {
        transform: translate(20px, 0px);
    }
    100% {
        transform: translate(0);
    }
}

/* ########## CANVAS ########## */
.canvas {
    margin: 0 auto;
    width: var(--size-canvas-width);
    height: var(--size-canvas-height);
    background: var(--color-canvas);
    border-radius: var(--radius-canvas);
    overflow: hidden;

    cursor: crosshair;

    display: flex;
    flex-wrap: wrap;
    box-shadow: var(--canvas-emboss-light), var(--canvas-emboss-shadow),
        var(--canvas-shadow);
}
.canvas-cell {
    mix-blend-mode: multiply;
    transition: all 0.1s;
}
/* ########## CONTROLS ########## */
.controls {
    padding: 0 var(--size-device-border);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex: 1;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
}
.option {
    /* outline: 1px solid black; */
    margin-top: 3rem;
    height: 4rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}
.option label {
    color: var(--color-golden);
    text-transform: capitalize;
    font-weight: 500;
    letter-spacing: 1px;
}
.option button {
    width: 80px;
    height: 32px;
    border: none;
    border-radius: 8px;
    background: var(--color-golden);
    color: var(--color-device);
    text-transform: capitalize;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: var(--buttons-inside-emboss-light),
        var(--buttons-inside-emboss-shadow), var(--buttons-outside-emboss-light),
        var(--buttons-outside-emboss-shadow);

    cursor: pointer;
}
.option.color button {
    width: 100px;
}
.option button:active {
    background: var(--color-golden-dark);
    color: var(--color-device-dark);
}
/* ########## CONTROL COLOR ########## */
.color-picker {
    position: absolute;
    left: 100%;
}
.color div {
    position: relative;
    display: flex;
    align-items: center;
}
.color-picker {
    margin-left: 8px;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    border: none;
    cursor: pointer;
}
.color-picker::-webkit-color-swatch-wrapper {
    margin: 0;
    padding: 0;
    border-radius: 50%;
    border: none;
}
.color-picker::-webkit-color-swatch {
    border-radius: 50%;
    border: none;
    box-shadow: var(--buttons-inside-emboss-light),
        var(--buttons-inside-emboss-shadow), var(--buttons-outside-emboss-light),
        var(--buttons-outside-emboss-shadow);
}
.hide {
    display: none;
}
/* ########## CONTROL RANGE ########## */
input[type="range"] {
    margin: 5px 0 8px 5px;
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    position: relative;
    outline: none;
    cursor: pointer;
    width: 100px;
    background: none;
}
input[type="range"]::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    background: var(--color-device-dark);
    --var-shadow: inset 2px 2px 1px rgba(53, 0, 0, 0.5);
    --var-highlight: inset -2px -2px 1px rgba(255, 44, 44, 0.5);
    box-shadow: var(--var-shadow), var(--var-highlight);
    height: 8px;
    border-radius: 4px;
}
input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    appearance: none;
    margin: -4px 0 0 0;
    width: 16px;
    height: 16px;
    border-radius: 50%;
    background: var(--color-golden);
}
/* ########## FOOTER ########## */
footer {
    width: 100vw;
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    /* gap: 1rem; */

    font-family: var(--font);
    font-weight: 500;
    font-size: 1rem;
    letter-spacing: 2px;
}
a {
    color: black;
    text-decoration: none;
}
